.title {
  width: 640px;
  min-height: 64px;
  padding: 0;
  display: flex;
  align-items: center;
}

.image {
  margin: 0;
  padding: 0;
}

.name {
  padding: 0;
}

.compound {
  padding: 0;
  display: flex;
  text-align: center;
  column-gap: 20px;
  list-style-type: none;
}