@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/JetBrainsMono-Regular.woff2') format("woff2");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: bold;
  font-weight: 700;
  src: url('./fonts/JetBrainsMono-Bold.woff2') format("woff2");
}

@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Iceland-Regular.woff2') format("woff2");
} 

body {
  
  font-family: 'JetBrains Mono','Iceland', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

